nav {
	display: grid;
	grid-template-columns: 2fr 3fr 1fr;
	background-color: #617968;
}


.logo {
	padding: 1em;
	align-self: center;
	justify-self: center;
}

ul {
	grid-column: 2;
	 align-self: center;

}

li {
  display: inline;
  padding: 5%;
  font-family: thinfont;

  }

  a {
  	  text-decoration: none;
  	  color: #D4E3DB;
  	  font-size: 1.25em;
  }

  header {
  	height: 50vh;
  	background-color: black;
  }

